.dots{
    background-color: rgb(4, 155, 4);
}

.emf{
    background-color: rgb(172, 41, 41);
}

.ultraviolet{
    background-color: rgb(160, 12, 160);
}

.writing{
    background-color: rgb(44, 44, 214);
}

.freezing{
    background-color: rgb(31, 231, 231);
}

.orb{
    background-color: rgb(221, 210, 57);
}

.spirit_box{
    background-color: rgb(255, 171, 14);
}